
@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jobs</h2>
<body>
    <div class="site-section">
      
        
        
        @ViewBag.prediction




   
    
    
    </div>
</body>

