
@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jobs</h2>
<body>
    <div class="site-section">

        <div class="container">
            <br />
            <h1 style="font-family: Montserrat; font-style: normal; font-weight: 600; font-size: 300%; line-height: 44px; /* identical to box height */ color: #27A2DB;">Relative jobs for you in Melbourne</h1>
            <div class="jobs"></div>


        </div>

        <div class="row justify-content-center">
            <a href="~/Search/Articles" class="btn btn-primary mr-2 mb-2">Go to Articles  ➔</a>
        </div>






    </div>
</body>
<script src="~/js/jquery-3.5.1.min.js"></script>
<script>
    var prediction = "@ViewBag.prediction";
    prediction = prediction.replaceAll(" ","%20");
    var url = "https://api.adzuna.com/v1/api/jobs/au/search/1?app_id=076a7260&app_key=0b177418d453470caf2f1059a463a6fb&results_per_page=12&what_and=" + prediction + "&location0=Australia&location1=Victoria&content-type=application/json" ;

    $(document).ready(function () {
        $.get(url, function (res){
            console.log(url);
            if (res.results.length > 0) {
                var s = "";
                s += "  <div class='container' style='width: 90 %;height: 100 %;background: #FFFFFF;box - shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border - radius: 65px; 'data-aos='fade - up'>";
              
                if (res.results.length >= 12) {
                    for (var i = 0; i < 12; i++) {
                        //s += " <div class='card'>";
                        //s += "  <div class='card - body'>";
                     
                        s += "<articleTitle style= 'color:#FFC45B; font-size: 30px;'>" + res.results[i].title + "</articleTitle><br /><br />";
                        s += "<articleSubtitle style= 'color:#FFC45B'>" + "Company Name:  " + "</articleSubtitle>" + "<articletext>" + res.results[i].company["display_name"] + "</articletext ><br />";
                        s += "<articletext style= 'color:#FFC45B'>" + "Description: " + "</articletext>" +"<articletext>" + res.results[i].description + "</articletext><br /><br />";
                        //s += "</div>";
                      
                        s += "<a href=" + res.results[i].redirect_url + " class='btn btn-primary mr-2 mb-2 ' style= 'color:#FFC45B' target='_blank'>Find More Details</a> <br /><br />";
                       
                        s += "<br />"
                        //s += "<br />"
                    }
                }

                else {
                    for (var i = 0; i < res.results.length; i++) {
                        //s += " <div class='card'>";
                        //s += "  <div class='card - body'>";
                      
                        s += "<articleTitle style= 'color:#FFC45B;font-size: 30px;'>" + res.results[i].title + "</articleTitle><br /><br />";
                        s += "<articleSubtitle style= 'color:#FFC45B'>" + "Company Name: " + res.results[i].company["display_name"] + "</articleSubtitle><br />";
                        s += "<articletext>" + "Description: " + res.results[i].description + "</articletext><br /><br />";

                       
                      
                        s += "<a href=" + res.results[i].redirect_url + " class='btn btn-primary mr-2 mb-2 ' style= 'color:#FFC45B' target='_blank'>Find More Details</a> <br /><br />";
                      
                        
                        s += "<br />"
                    }
                }
               
                s += " </div>";
                $('.jobs').html(s);
            }
            else {
                var s = "";
                s += "<p class='card - text'>" + "No related jobs information"  + "</p>";
                $('.jobs').html(s);
            }
        })






    });




</script>
